page-recipes {
  p{
    white-space:pre-line;
  }
  img {
    height:300px;
    width: 100%;
  }
    .card-background-page {

        ion-card {
          position: relative;
          text-align: center;
          height: 30%;
          
        }
      
        .card-title {
          position: absolute;
          top: 36%;
          font-size: 2.0em;
          width: 100%;
          font-weight: bold;
          color: rgba(0,0,0,0.8);
          
        }
      
        .card-subtitle {
          font-size: 1.0em;
          position: absolute;
          top: 52%;
          width: 100%;
          color: rgba(0,0,0,0.8);
        }
        .background-title{
          opacity: 0.9;
          box-shadow: 0px 1px 13px 1px rgba(0,0,0,1);
        }
      
      }
}
