// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.gray-bg {
  background-color: color($colors, gray);
}
.bg-page {
    background-color: #fff;
    &::after {
      content: "";
      background: url("../assets/imgs/bg.jpg") no-repeat;
      background-size: cover;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: 0;
    }
}
#menu-avatar {
    .user-avatar {
      padding: .5em;
    }
    h3,
    .label {
      color: white;
      font-weight: bold;
    }
    .item {
      background: transparent;
    }
    ion-content {
      background: linear-gradient(48deg, rgba(255, 0, 0, 0.8) 0%, rgba(202, 53, 42, 0.86) 28%, rgba(0, 31, 168, 0.98) 93%, rgb(0, 67, 168) 100%);
    }
    .menu-inner {
      background: rgba(255, 255, 255, .3);
    }
  }